@import url(http://fonts.googleapis.com/css?family=PT+Sans);

.title {
    font-size: 60px;
}

body {
    font-family: 'PT Sans', Futura-pt, Futura-medium, "Futura Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding-top: 150px;
    padding-bottom: 50px;
    color: #4d4d4d;
    letter-spacing: 5px;
}

section {
    display: inline-block;
    width: 100%;
}

nav {
    background-color: #FFF;
    /*color: #f7f7f7;*/
}

ul {
    text-align: left;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.3);
}

.facts {
    font-size: 1.2em;
    font-weight: 800;
}

.moderate {
    font-size: 1em;
}

#udsm-logo {
    width: 100px;
}

#menu li a {
    letter-spacing: 2px;
    color: inherit;
}

#menu li a:hover {
    cursor: pointer;
}

.titleSection {
    height: 80vh;
    padding-top: 25vh;
    text-align: center;
    background-image: url(../assets/home_top_background.png);
    background-size: cover;
    color: #f7f7f7;
    opacity: 0.9;
}

.section {
    text-align: center;
}

.section p, .section form {
    text-align: left;
    font-size: 22px;
}

.section form label {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .section {
        padding: 100px;
    }

    .section form {
        width: 75%;
        margin: auto;
    }
}

.send-email button {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-size: 30px;
}

h2 {
    padding-bottom: 25px;
}

.btn {
    margin: auto;
    display: inline-block;
}

.btn-default {
    background-color: #777;
    color: #FFF;
}
.out_goals {
    margin-top: 2%;
    margin-bottom: 2%;
    list-style-position: inside;
}

#month-list {
    list-style: none;
    text-align: left;
    color: gray;
}

#calendar-title {
    text-align: left;
    padding-left: 4%;
    padding-bottom: .1%;
}

.month-list {
    list-style: none;
    text-align: left;
    color: gray;
}

.calendar-title {
    text-align: left;
    padding-left: 4%;
    padding-bottom: .1%;
}

a {
    color: gray;
}

.mini {
    padding-top: 4%;
}

.title-button {
    color: #f7f7f7;
    border: #f7f7f7;
    border-width: 3px;
    border-style: solid;
}

a.btn {
   /* width: 370px;
    height: 64px;*/
    font-size: 30px;
    color: #f7f7f7;
}

.value-list {
    list-style-position: inside;
}