html, body {
    margin: 0;
    font-family: Futura, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;

}

.udsm-logo {
    height: 100px;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding-top: 15px;
    text-align: center;
    width: 100px;
}

nav ul li a {
    color: lightgray;
}

nav ul li a:hover {
    color: gray;
}

a {
    text-decoration: none;
}

#active {
    color: gray;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h3 {
    font-size: 24px;
}

.button-link, h4 {
    font-size: 20px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

section {
    padding-top: 2%;
    padding-bottom: 2%;
    /*margin-top: 2%;
    margin-bottom: 5%;*/
    text-align: center;
    border-bottom: 3px solid #eee;
}

#top {
    height: 500px;
}

.subsection {
    min-height: 300px;
}

hr {
    border-top: 3px solid #eee;
}

footer {
    text-align: center;
}

.centered {
  display: block;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  font-color: gray;
}

#list-right{
    list-style-position: inside;
    text-align: left;
    padding-left: 20%;
}

#list-left{
    list-style-position: inside;
    text-align: left;
}

.out_goals {
    margin-top: 2%;
    margin-bottom: 2%;
}

#mission {
    height: 350px;
}

#volunteers-list {
    list-style-position: inside;
    text-align: center;
}

#volunteers {
    height: 400px;
}

#month-list {
    list-style: none;
    text-align: left;
    color: gray;
}

#calendar-title {
    text-align: left;
    padding-left: 4%;
    padding-bottom: .1%;
}

#events {
    height: 535px;
}